.footer{
  display: flex;
  align-items:stretch;
  justify-content:center;
  flex-direction: row;
  flex-wrap:wrap;
  font-size: 16px;
  border: none;
  padding:12px 16px;
  color: white;
  }
  .footer > p{
    margin:4px 0px;
    padding: 0px 16px 0px 0px;
  }
